<!-- MAIN BRANCH -->

<div class="animated fadeIn">
  <div class="card m-3">
    <h3 class="card-header">Seller</h3>
    <div class="card-body">
      <div class="row">
        <form action="" style="width: 100%" [formGroup]="reactiveForm">
          <div class="col">
            <!-- personal info -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="fnText">First Name</label>
                  <input
                    type="text"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid': !firstName.valid && firstName.dirty,
                      'is-valid': firstName.valid
                    }"
                    formControlName="firstName"
                    id="fnText"
                    placeholder="Enter first name"
                  />
                  <small
                    *ngIf="firstName.errors?.required && firstName.dirty"
                    id="fnHelp"
                    class="form-text custom-invalid-feedback"
                    >Field is required</small
                  >
                  <small
                    *ngIf="firstName.errors?.minlength && firstName.dirty"
                    id="fnHelp"
                    class="form-text custom-invalid-feedback"
                    >Name should be atleast 2 characters.</small
                  >
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="lnText">Last Name</label>
                  <input
                    type="text"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid': !lastName.valid && lastName.dirty,
                      'is-valid': lastName.valid
                    }"
                    formControlName="lastName"
                    id="lnText"
                    placeholder="Enter last name"
                  />
                  <small
                    id="fnHelp"
                    *ngIf="lastName.errors?.required && lastName.dirty"
                    class="form-text custom-invalid-feedback"
                    >Field is required</small
                  >
                </div>
              </div>
            </div>
            <!--  -->
            <!-- email -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="text"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid': !email.valid && email.dirty,
                      'is-valid': email.valid
                    }"
                    formControlName="email"
                    id="email"
                    placeholder="Enter Email Id"
                  />
                  <small
                    *ngIf="email.errors?.required && email.dirty"
                    id="fnHelp"
                    class="form-text custom-invalid-feedback"
                    >Field is required</small
                  >
                  <small
                    *ngIf="email.errors?.minlength && email.dirty"
                    id="fnHelp"
                    class="form-text custom-invalid-feedback"
                    >Email Should be valid</small
                  >
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="gender">Gender</label>
                  <select
                    id="inputgender"
                    formControlName="gender"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid': !gender.valid && gender.dirty,
                      'is-valid': gender.valid
                    }"
                  >
                    <option selected [ngValue]="null">Choose...</option>
                    <option *ngFor="let item of userGender" [value]="item">
                      {{ item }}
                    </option>
                  </select>
                  <small
                    *ngIf="state.errors?.required && state.dirty"
                    class="form-text custom-invalid-feedback"
                    >Field is required</small
                  >
                </div>
              </div>
            </div>
            <!--  -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="phoneNumber">Phone Number</label>
                  <input
                    type="number"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid': !phoneNumber.valid && phoneNumber.dirty,
                      'is-valid': phoneNumber.valid
                    }"
                    formControlName="phoneNumber"
                    id="phoneNumber"
                    placeholder="Enter Phone Number"
                  />
                  <small
                    id="fnHelp"
                    *ngIf="phoneNumber.errors?.required && phoneNumber.dirty"
                    class="form-text custom-invalid-feedback"
                    >Field is required</small
                  >
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="dateOfBirth">Date of Birth</label>
                  <input
                    type="date"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid': !dateOfBirth.valid && dateOfBirth.dirty,
                      'is-valid': dateOfBirth.valid
                    }"
                    formControlName="dateOfBirth"
                    id="dateOfBirth"
                    placeholder="Enter Date of Birth"
                  />
                  <small
                    id="fnHelp"
                    *ngIf="dateOfBirth.errors?.required && dateOfBirth.dirty"
                    class="form-text custom-invalid-feedback"
                    >Field is required</small
                  >
                </div>
              </div>
            </div>
            <!-- seperator -->
            <div class="row">
              <div class="col">
                <hr />
              </div>
            </div>
            <!-- address form portion -->
            <div class="row" formGroupName="address">
              <div class="col-12">
                <div class="form-group">
                  <label for="addText">Street Address</label>
                  <input
                    type="text"
                    id="addText"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid':
                        !streetAddress.valid && streetAddress.dirty,
                      'is-valid': streetAddress.valid
                    }"
                    formControlName="streetAddress"
                    placeholder="Enter street address"
                  />
                  <small
                    *ngIf="
                      streetAddress.errors?.required && streetAddress.dirty
                    "
                    class="form-text custom-invalid-feedback"
                    >Field is required</small
                  >
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="city">City</label>
                      <input
                        type="text"
                        [ngClass]="{
                          'form-control': true,
                          'is-invalid': !city.valid && city.dirty,
                          'is-valid': city.valid
                        }"
                        formControlName="city"
                        id="city"
                        placeholder="Enter city"
                      />
                      <small
                        *ngIf="city.errors?.required && city.dirty"
                        class="form-text custom-invalid-feedback"
                        >Field is required</small
                      >
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="state">State</label>
                      <select
                        id="inputState"
                        formControlName="state"
                        [ngClass]="{
                          'form-control': true,
                          'is-invalid': !state.valid && state.dirty,
                          'is-valid': state.valid
                        }"
                      >
                        <option selected [ngValue]="null">Choose...</option>
                        <option *ngFor="let item of states" [value]="item">
                          {{ item }}
                        </option>
                      </select>
                      <small
                        *ngIf="state.errors?.required && state.dirty"
                        class="form-text custom-invalid-feedback"
                        >Field is required</small
                      >
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="zipcode">Zip Code</label>
                      <input
                        type="text"
                        formControlName="zipcode"
                        [ngClass]="{
                          'form-control': true,
                          'is-invalid': !zipcode.valid && zipcode.dirty,
                          'is-valid': zipcode.valid
                        }"
                        id="zipcode"
                        placeholder="Enter city"
                      />
                      <small
                        *ngIf="zipcode.errors?.required && zipcode.dirty"
                        class="form-text custom-invalid-feedback"
                        >Field is required</small
                      >
                      <small *ngIf="zipcode.errors?.pattern && zipcode.dirty" class="form-text custom-invalid-feedback">Value should be 5 digit number</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- seperator -->
            <div class="row">
              <div class="col">
                <hr />
              </div>
            </div>
            <!-- occupation -->
            <div class="row">
                <div class="col">
                  <div class="form-group">
                  <div>
                    <label for="occupation" class="form-label"
                      >Occupation</label
                    >
                  </div>
                  <div
                    class="form-check form-check-inline"
                    *ngFor="
                      let control of OccupationArray.controls;
                      let i = index
                    "
                  >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      (change)="getOccupation()"
                      [formControl]="control"
                      id="inlineCheckbox{{ i }}"
                    />
                    <label
                      class="form-check-label"
                      for="inlineCheckbox{{ i }}"
                      >{{ userOccupation[i] }}</label
                    >
                  </div>
                  <div>
                    <small
                      id="fnHelp"
                      *ngIf="
                        favOccupationError && checkOccupationControlsTouched()
                      "
                      class="form-text custom-invalid-feedback"
                      >Atleast choose one</small
                    >
                  </div>
                </div>
              </div>
            </div>

            <!--  -->

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="fnText">Organisation Name</label>
                  <input
                    type="text"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid':
                        !organisationName.valid && organisationName.dirty,
                      'is-valid': organisationName.valid
                    }"
                    formControlName="organisationName"
                    id="organisationName"
                    placeholder="Enter Organisation Name"
                  />
                  <small
                    *ngIf="
                      organisationName.errors?.required &&
                      organisationName.dirty
                    "
                    id="fnHelp"
                    class="form-text custom-invalid-feedback"
                    >Field is required</small
                  >
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="lnText">Designation</label>
                  <input
                    type="text"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid': !designation.valid && designation.dirty,
                      'is-valid': designation.valid
                    }"
                    formControlName="designation"
                    id="designation"
                    placeholder="Enter designation"
                  />
                  <small
                    id="fnHelp"
                    *ngIf="designation.errors?.required && designation.dirty"
                    class="form-text custom-invalid-feedback"
                    >Field is required</small
                  >
                </div>
              </div>
            </div>
            <!-- sector -->
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                <div>
                  <label for="sector" class="form-label">Sector</label>
                </div>
                <div
                  class="form-check form-check-inline"
                  *ngFor="let control of SectorArray.controls; let i = index"
                >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    (change)="getSector()"
                    [formControl]="control"
                    id="inlineCheckbox{{ i }}"
                  />
                  <label class="form-check-label" for="inlineCheckbox{{ i }}">{{
                    userSector[i]
                  }}</label>
                </div>
                <div>
                  <small
                    id="fnHelp"
                    *ngIf="
                      favSectorError && checkSectorControlsTouched()
                    "
                    class="form-text custom-invalid-feedback"
                    >Atleast choose one</small
                  >
                </div>
              </div>
              </div>
            </div>

            <!-- residence -->
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Current Residence Type</label>
              </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Current Residence</label>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Booking Preferences</label>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Budget</label>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Position Expectation</label>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Purpose of Buying</label>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Financing Detail</label>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Source of Project Information</label>
                
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label"></label>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Channel Partner Firm Name</label>
              </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Channel Partner SM Name</label>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Channel Partner Mobile Number</label>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Channel Partner RERA No.</label>
              </div>
              </div>
            </div>



            
            <!--  -->
            <!-- seperator -->
            <div class="row">
              <div class="col">
                <hr />
              </div>
            </div>

            <!-- final action buttons -->
            <div class="row justify-content-center">
              <div class="col-2">
                <button
                  type="button"
                  (click)="submitHandler()"
                  class="btn btn-primary"
                >
                  Submit
                </button>
                <!-- <button type="button" [disabled]="!reactiveForm.valid" (click)="submitHandler()" class="btn btn-primary">Submit</button> -->
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
